data/xsd/xml.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema elementFormDefault="qualified" 
  xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.w3.org/XML/1998/namespace">


  <xs:attribute name="base" type="xs:string"/>
  <xs:attribute name="lang" type="xml:langType"/>

  <xs:simpleType name="langType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="zh-Hans"/>
      <xs:enumeration value="zh-Latn-x-pinyin"/>
      <xs:enumeration value="en-US"/>
      <xs:enumeration value="en-US"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
